.example-header-image {
  background-image: url('/assets/report-group.png');
  background-size: cover;
}

.base-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
