<div class="base-container">
<mat-card class="example-card" *ngFor="let reportGroup of reportGroups" routerLink='/group/{{ reportGroup.name }}' >
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{ reportGroup.name }}</mat-card-title>
    <mat-card-subtitle>Group size: {{ reportGroup.size }}</mat-card-subtitle>
  </mat-card-header>
</mat-card>
</div>