<div class="mat-elevation-z8 example-container">
  <div class="example-header">
    <mat-form-field class="filter-field">
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Report name pattern">
    </mat-form-field>
  </div>
  <mat-table #table [dataSource]="getDataSource()" matSort>
  <ng-container *ngFor="let stock_key of displayedColumns" matColumnDef="{{ stock_key }}" >
  <mat-header-cell *matHeaderCellDef mat-sort-header> {{ stockColumnDescription[stock_key] }} </mat-header-cell>
  <mat-cell *matCellDef="let element"><a class="hidedLink" [href]="element['file_url']">{{ element[stock_key] }} </a></mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <mat-paginator [pageSize]="10" [pageSizeOptions]="[10, 20, 50]" (page)="updateData()"></mat-paginator>
</div>