.base-container {
  display: flex;
  flex-direction: column;
    flex-wrap: wrap;
}

.example-header {
  padding: 8px 24px 0;
}

.mat-form-field {
  font-size: 14px;
}

.states-selection-field {
    width: 25%;
}

.filter-field {
    width: 70%;
}

.mat-table {
  overflow: auto;
}

.mat-header-cell.mat-sort-header-sorted {
  color: black;
}

.hidedLink {
  color: inherit;
  text-decoration: inherit;
}